<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="cbb402c5-8cf2-486e-800b-63826da4dbc4"
    Version="1.0.0.0"
    Publisher="CN=Rado_" />

  <Properties>
    <DisplayName>Pages-and-Navigation</DisplayName>
    <PublisherDisplayName>Rado_</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="Pages-and-Navigation"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="Pages-and-Navigation"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
